.content-wrap{
	height:100vh;
	display: flex;
	flex-direction: column;
}
@media(min-width: 760px){
	.content-wrap{
		flex-direction: row;
	}
}
.left-nav{
	display: flex;
	flex-direction: column;
}

.nav-footer{
	height: 80px;
	background-color: #00f;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.nav-footer span{
	flex-grow: 1;
	border-right: 1px solid #fff;
}
.nav-footer span:last-child{
	border:none;
}
.glyphicon{
	font-size: 20px;
}

.nav-header{
	height: 80px;
	background-color: #00f;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0  20px;
	color: #fff;
}
.nav-header h3{
	font-weight: bold;
	margin-bottom: 15px;
}
.nav-header span{
	font-size: 20px;
	background-color: rgba(0,0,0,0.3);
	padding: 8px 10px;
	border-radius: 5px;
}
.content-m{
   background-color: deeppink;
   overflow-y: scroll;
   flex-grow: 1;
   display: flex;
 }
 .home-content{
 	background:url(img/1.jpg);
 	background-size: cover;
 	background-position: 50% 50%;
 	display: flex;
 	width: 100%;
 }
 .nav-bar{
 	align-items: center;
 	justify-content: center;
 	display: flex;
 	width: 100%;
 	background-color: rgba(0,0,0,0.5);
 }
 .nav-content{
 	flex-direction: column;
 	text-align: center;
 }
 .blog-btn{
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  background-color: #fff;
  border: 1px solid #FF4081;
  border-radius: 20px;
  padding: 5px 20px;
  color: #FF4081;
  font-size: 14px;
}
.blog-btn:hover{
  color:#fff;
  background-color: #ff4081;
}
 
